.category-container {
  padding: 20px;
  text-align: center;
 background: transparent;
}

.book-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 20px;
}

.book-card {
  background-color: #f1d2d2;
  padding: 10px;
  border: 1px solid #eee;
  width: 200px;
  height: 450px; 
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.book-image {
  width: 100%;
  height: 50%; 
  object-fit: contain; 
  border-radius: 4px;
  margin-bottom: 8px;
}

.book-button{
    background-color:rgb(42, 49, 239);
    color: antiquewhite;
    border-radius: 30px;
    cursor:pointer;
}
.book-button:hover{
    background-color: black;
}
.book-card img {
    width: 180px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 15px;
    margin:auto;
}
.delete-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #c0392b;
}