.home-container {
  font-family: sans-serif;
  scroll-behavior: smooth;
  background-color: #f2f2f2;
}


.hero-section {
  background: url('https://images.unsplash.com/photo-1512820790803-83ca734da794') no-repeat center center/cover;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  background: rgba(255, 255, 255, 0.85);
  padding: 30px 50px;
  border-radius: 12px;
  text-align: center;
   animation: fadeUp 1s ease-in-out;
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



.hero-content h1 {
  font-size: 36px;
  color: #333;
}

.hero-content p {
  margin-top: 10px;
  color: #666;
}


.category-scroll {
  padding: 40px 20px;
  background: #fff;
  text-align: center;
}

.category-scroll h2 {
  margin-bottom: 20px;
  color: #333;
}

.scroll-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  padding: 10px;
  gap: 16px;
  scroll-snap-type: x mandatory;
}

.scroll-container::-webkit-scrollbar {
  height: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 4px;
}

.scroll-card {
  flex:0 0 auto;
  scroll-snap-align: start;
  background: #0077cc;
  color: white;
  padding: 20px 30px;
  border-radius: 10px;
  font-size: 18px;
  white-space: nowrap;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


.highlight-section {
  padding: 40px 20px;
  background: linear-gradient(to right, #fdfbfb, #ebedee);
  text-align: center;
}

.highlight-section h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #222;
}

.highlight-section p {
  color: #555;
  max-width: 600px;
  margin: 0 auto;
  font-size: 16px;
}